
.idea/
examples/
files/
.ipynb_checkpoints/
logs/
__pycache__
test_files/
unused_test_files/
.vscode/
.mypy_cache/
venv/

dist
build

.coverage
htmlcov
*.egg-info
*.egg

.pytest_cache
.mypy_cache

.env