certifi==2022.5.18.1
    # via requests
charset-normalizer==2.0.12
    # via requests
colorama==0.4.4
    # via loguru
idna==3.3
    # via requests
loguru==0.6.0
    # via -r requirements.in
python-dotenv==0.20.0
    # via -r requirements.in
pytz==2022.1
    # via -r requirements.in
requests==2.27.1
    # via -r requirements.in
slack-bolt==1.14.0
    # via -r requirements.in
slack-sdk==3.16.2
    # via slack-bolt
urllib3==1.26.9
    # via requests
win32-setctime==1.1.0
    # via loguru
