certifi==2022.6.15
    # via requests
charset-normalizer==2.1.0
    # via requests
colorama==0.4.5
    # via loguru
greenlet==1.1.2
    # via sqlalchemy
idna==3.3
    # via requests
loguru==0.6.0
    # via -r requirements.in
pydantic==1.9.2
    # via -r requirements.in
pyjokes==0.6.0
    # via -r requirements.in
pytz==2022.2.1
    # via -r requirements.in
requests==2.28.1
    # via -r requirements.in
slack-bolt==1.14.3
    # via -r requirements.in
slack-sdk==3.18.1
    # via slack-bolt
sqlalchemy==1.4.40
    # via -r requirements.in
typing-extensions==4.3.0
    # via pydantic
urllib3==1.26.11
    # via requests
win32-setctime==1.1.0
    # via loguru
